import { customElement } from '@polymer/decorators';
import { html } from '@polymer/polymer';

import EdiBase from '../edi-base/edi-base';

import styles from './styles';

@customElement('{{> tagName }}')
class {{> componentName }} extends EdiBase {
    static get template() {
        return html`
            ${styles}

            <div class="wrapper">
                <h1>{{> componentName }}</h1>
            </div>
        `;
    }
}

declare global {
    interface HTMLElementTagNameMap {
        '{{> tagName }}': {{> componentName }};
    }
}
